{% extends 'base.html' %}
{% load bootstrap %}

{% block main%}
    <form method="POST">
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit" class="btn btn-main">Salvar</button>
    </form>
    <br>
    <a href="{% url 'create_documentos' object.id%}">Adicionar Documento</a>

    <h3>Meus Documento</h3>
    <ul>
    {% for documento in object.documento_set.all %}
        <li><a href="{{documento.arquivo.url}}">{{documento}}</a></li>
    {%endfor%}
    </ul>
{% endblock %}